* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.ai-animation {
  padding: 70px;
  position: relative;
  overflow: hidden;
}
.ai-animation:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: url("./asset/bottom_bg.svg");
  display: block;
  z-index: 0;
}
.ai-animation:before {
  position: absolute;
  top: 0;
  display: block;
  width: 33%;
  left: 0;
  content: url("./asset/top_bg.svg");
  z-index: 0;
}
.ai-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 37px;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s all ease-in;
}
.ai-title.viewed {
  opacity: 1;
  transform: translateY(0px);
}
.ai-subtitle {
  text-align: center;
  max-width: 315px;
  margin: 0 auto 75px;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s all ease-in;
}
.ai-subtitle.viewed {
  opacity: 1;
  transform: translateY(0px);
}
.sales-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: stretch;
  gap: 16px;
  list-style: none;
}
.sales-item {
  height: 80px;
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #53aae8;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  -webkit-box-shadow: -10px 10px 0 0 rgba(83, 170, 232, 1);
  -moz-box-shadow: -10px 10px 0 0 rgba(83, 170, 232, 1);
  box-shadow: -10px 10px 0 0 rgba(83, 170, 232, 1);
}
.sales-item:after {
  left: 50%;
  width: 1px;
  height: 50px;
  content: "";
  border-left: 1px dotted #53aae8;
  display: block;
  top: 100%;
  position: absolute;
}
.sales-wrapper {
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s all ease-in;
  position: relative;
}
.sales-list {
  position: relative;
  margin-bottom: 125px;
  padding-bottom: 50px;
}
.sales-wrapper.viewed {
  opacity: 1;
  transform: translateY(0px);
}
.sales-list:after {
  position: absolute;
  bottom: 0;
  width: 84%;
  left: 8%;
  content: "";
  height: 1px;
  border-bottom: 1px dotted #53aae8;
  display: block;
}
.funnel-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}
.funnel-item-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: end;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s all ease-in;
  height: fit-content;
  width: 100%;
}
.funnel-item-wrapper:not(:first-child) {
  height: 370px;
}
.funnel-item-wrapper:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  overflow: visible;
}
.funnel-item-wrapper.viewed {
  opacity: 1;
  transform: translateY(0px);
}
.funnel-item-content {
  max-width: 374px;
  padding: 35px 30px;
  border: 1px solid #53aae8;
  border-radius: 19px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  background: #fff;
}
.funnel-item .funnel-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.funnel-item:first-child .funnel-image-wrapper {
  justify-content: center;
}
.funnel-item:first-child {
  align-items: stretch;
}
.funnel-item:last-child .funnel-image-wrapper {
  justify-content: center;
}
.funnel-list {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.sales-wrapper .funnel-item:not(:first-child) {
  height: 370px;
}
.sales-wrapper .funnel-item:first-child .funnel-image-wrapper img:last-child {
  margin-top: -42px;
  position: relative;
  z-index: 5;
  transform: translateZ(10px);
}
.sales-wrapper .funnel-item:first-child .funnel-image-wrapper img:nth-child(2) {
  margin-top: -37px;
  margin-left: -3px;
}
.sales-wrapper .funnel-item:nth-child(2) .funnel-image-wrapper img:last-child {
  margin-top: -27px;
  z-index: 5;
  position: relative;
}
.sales-wrapper .funnel-item:nth-child(2) .funnel-image-wrapper img:nth-child(2) {
  margin-top: -22px;
}
.sales-wrapper .funnel-item:nth-child(3) .funnel-image-wrapper img:last-child {
  margin-top: -16px;
  z-index: 5;
  position: relative;
}
.sales-wrapper .funnel-item:nth-child(3) .funnel-image-wrapper img:nth-child(2) {
  margin-top: -14px;
}
.funnel-item-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 23px;
  line-height: 1;
}
.funnel-item-subtitle {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 19px;
}
.funnel-counter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
.funnel-counter-item {
  height: 80px;
  min-width: 270px;
  border-radius: 8px;
  padding: 25px 20px 25px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #53aae8;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  -webkit-box-shadow: -10px 10px 0 0 rgba(83, 170, 232, 1);
  -moz-box-shadow: -10px 10px 0 0 rgba(83, 170, 232, 1);
  box-shadow: -10px 10px 0 0 rgba(83, 170, 232, 1);
}
.percent-wrapper {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  color: #53aae8;
}

.second-icons-container {
  flex-grow: 1;
  position: relative;
  width: 600px;
  z-index: 10;
}
.second-icons {
  display: flex;
  justify-content: center;
  transform: translateY(-125px);
  position: absolute;
  top: 0;
  width: 100%;
}
.second-icons div img:not(:first-child) {
  margin-left: -50px;
}
.second-icons div {
  display: flex;
  justify-content: center;
}
.second-icons div img {
  --startPosition: 0px;
  --endPosition: 180%;
  width: 100px;
  max-width: 100%;
  height: 125px;
  opacity: 0;
}
.second-icons div img:nth-child(2) {
  --startPosition: -30px;
  --endPosition: 160%;
  position: relative;
  z-index: 0;
}

.third-icons-container {
  flex-grow: 1;
  position: relative;
  width: 380px;
  z-index: 10;
}
.third-icons {
  display: flex;
  justify-content: center;
  transform: translateY(-130px);
  position: absolute;
  top: 0;
  width: 100%;
}
.third-icons div img:not(:first-child) {
  margin-left: -50px;
}
.third-icons div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.third-icons div img {
  --startPosition: 0px;
  --endPosition: 210%;
  width: 100px;
  max-width: 100%;
  height: 125px;
  opacity: 0;
}
.third-icons div img:nth-child(2) {
  --startPosition: -10px;
  --endPosition: 180%;
  position: relative;
  z-index: 0;
}

.third-icons div:last-child {
  justify-content: start;
}

.third-icons div:last-child img:not(:first-child) {
  margin-right: -75px;
}

@keyframes fall2 {
  0% {
    opacity: 0;
    transform: translateY(var(--startPosition));
  }
  80% {
    opacity: 0.7;
    transform: translateY(var(--endPosition));
  }
  100% {
    opacity: 0;
    transform: translateY(var(--endPosition));
  }
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: translateY(100%);
  }
  65% {
    opacity: 1;
    transform: translateY(100%) translateX(var(--screenMiddle));
  }
  80% {
    opacity: 0.7;
    transform: translateY(var(--fallLength)) translateX(var(--screenMiddle));
  }
  100% {
    opacity: 0;
    transform: translateY(var(--fallLength)) translateX(var(--screenMiddle));
  }
}

@media (min-width: 1920px) {
  .ai-animation {
    padding: 140px;
  }
  .funnel-counter {
    margin-right: 300px;
  }
}
@media (max-width: 1200px) {
  .sales-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
  }
  .sales-wrapper:after {
    width: 52%;
    left: 24%;
  }
  .sales-wrapper {
    margin-bottom: 70px;
  }
  .funnel-item {
    position: relative;
    top: auto;
    bottom: auto;
  }
  .funnel-item-wrapper {
    flex-direction: column;
    gap: 85px;
  }
  .funnel-wrapper {
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .funnel-item img {
    max-width: 100%;
  }
  .funnel-counter {
    margin-right: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 16px;
  }
  .funnel-counter-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    min-width: fit-content;
    padding: 6px;
    height: fit-content;
  }
  .funnel-item-wrapper .funnel-item {
    position: relative;
  }
  .funnel-item-content {
    max-width: 100%;
    width: 100%;
    position: relative;
    z-index: 5;
  }
  .funnel-item-wrapper {
    align-items: center;
  }
  .funnel-item-wrapper {
    overflow: visible;
  }
  .sales-item:nth-child(1) img,
  .sales-item:nth-child(2) img {
    --fallLength: 105vh;
  }
  .sales-item:nth-child(3) img,
  .sales-item:nth-child(4) img {
    --fallLength: 90vh;
  }
  .sales-item:nth-child(5) img,
  .sales-item:nth-child(6) img {
    --fallLength: 80vh;
  }
  .second-icons,
  .third-icons {
    transform: translateY(-400px);
  }
  .second-icons div img,
  .third-icons div img {
    opacity: 0;
  }
  .second-icons div img,
  .third-icons div img {
    --startPosition: 0px;
    --endPosition: 270%;
    width: 60px;
    max-width: 100%;
  }
  .second-icons div img:nth-child(2),
  .third-icons div img:nth-child(2) {
    --startPosition: -30px;
    --endPosition: 250%;
    position: relative;
    z-index: 0;
  }
  .second-icons div img:not(:first-child) {
    margin-left: -20px;
  }
}

@media (max-width: 768px) {
  .ai-animation {
    padding: 20px;
  }
}

@media (max-width: 572px) {
  .second-icons-container {
    max-width: 80%;
  }
  .third-icons-container {
    max-width: 80%;
  }
  .funnel-counter-item .count-value {
    display: block;
  }
}

.funnel-image-inner .first-funnel-icon {
  width: 80px;
  height: 80px;
}

.funnel-image-container {
  position: absolute;
  top: 0;
  width: 80px;
  height: 80px;
}
.funnel-image-inner {
  position: relative;
  opacity: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  animation-timing-function: ease-in-out;
}
.funnel-image-inner img {
  position: absolute;
}

.funnel-image-container img:not(:first-child) {
  opacity: 0;
}

@keyframes funnelStart {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateY(100%);
  }
  40% {
    opacity: 1;
    transform: translateY(100%) translateX(var(--screenMiddle));
  }
  100% {
    opacity: 0;
    transform: translateY(calc(var(--fallLength) + 30px)) translateX(var(--screenMiddle));
  }
}

@keyframes funnelSecond {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--fallLength) + 40px)) translateX(var(--screenMiddle));
  }
  10% {
    opacity: 1;
    transform: translateY(calc(var(--fallLength) + 40px)) translateX(var(--screenMiddle));
  }
  80% {
    opacity: 1;
    transform: translateY(calc(var(--fall2Length) + 40px)) translateX(var(--screenMiddle));
  }
  100% {
    opacity: 0;
    transform: translateY(calc(var(--fall2Length) + 40px)) translateX(var(--screenMiddle));
  }
}

@keyframes funnelThird {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--fall2Length) + 30px)) translateX(var(--screenMiddle));
  }
  10% {
    opacity: 1;
    transform: translateY(calc(var(--fall2Length) + 30px)) translateX(var(--screenMiddle));
  }
  80% {
    opacity: 1;
    transform: translateY(calc(var(--fall3Length) + 30px)) translateX(var(--screenMiddle));
  }
  100% {
    opacity: 0;
    transform: translateY(calc(var(--fall3Length) + 30px)) translateX(var(--screenMiddle));
  }
}

@keyframes funnelCalendar {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--fall3Length) + 30px)) translateX(var(--screenMiddle));
  }
  10% {
    opacity: 1;
    transform: translateY(calc(var(--fall3Length) + 30px)) translateX(var(--screenMiddle));
  }
  80% {
    opacity: 1;
    transform: translateY(calc(var(--fall4Length) + 30px)) translateX(var(--screenMiddle));
  }
  100% {
    opacity: 0;
    transform: translateY(calc(var(--fall4Length) + 30px)) translateX(var(--screenMiddle));
  }
}

#calendar {
  max-width: 205px;
  width: 100%;
  background-image: url("./asset/calendar.svg");
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 8;
}
#calendar:after {
  position: absolute;
  bottom: -16px;
  right: -30px;
  content: '';
  width: 80px;
  height: 109px;
  background-image: url("./asset/calendar_girl.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.calendar-inner {
  padding: 45px 12px 12px 12px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2.33px;
}
.calendar-inner input {
  appearance: none;
  width: 100%;
  border-radius: 1.53px;
  background-color: #ffffff;
  border: none;
}